@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Error";
}

<div style="text-align:center">
    <img alt="sadNinja" src="~/images/Ninja3.png" width="200" height="258" style="margin-top: 1em" />
    <h1 style="color: #336566">Ooops!</h1>
    <h3>We kunnen de pagina waar je naar zoekt niet vinden.</h3>
    <p style="color: #336566">Error code: @TempData["ErrorCode"]</p>
    <h4>Hier zijn enkele handige links: </h4>
    <a asp-controller="Home" asp-action="Index">Home</a><br />
    @if (!SignInManager.IsSignedIn(User))
    {
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
    else
    {
        <a asp-controller="User" asp-action="Index">Wijzig Gegevens</a>
    }

</div>


