@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string userNameFirstLetterUpper = "";
    if (UserManager.GetUserName(User) != null)
    {
        var email = UserManager.GetUserName(User);
        var userName = email.Substring(0, email.IndexOf("."));
        userNameFirstLetterUpper = char.ToUpper(userName[0]) + userName.Substring(1);
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right" name="logoutForm">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <i class="fas fa-user-ninja fa-2x dropbtn" style="color: white; margin: 0.4em;" onclick="myFunction()"> </i>
                    <div id="myDropdown" class="dropdown-content">
                        <a asp-controller="User" asp-action="Index">Wijzig gegevens</a>
                        <a onclick="document.logoutForm.submit()" href="#">Uitloggen</a>
                    </div>
                </div>
                <div>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="User" asp-action="Index">Wijzig gegevens</a></li>
                        <li><a onclick="document.logoutForm.submit()" href="#">Uitloggen</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>
            <div class="dropdown">
                <i class="fas fa-user-ninja fa-2x dropbtn" style="color: white; margin: 0.4em;" onclick="myFunction()" > </i>
                <div id="myDropdown" class="dropdown-content">
                    <a asp-area="Identity" asp-page="/Account/Register">Registreer</a>
                    <a asp-area="Identity" asp-page="/Account/Login">Inloggen</a>
                </div>
            </div>
        </li>*@
        @*<li>
            <a asp-area="Identity" asp-page="/Account/Register">Registreer</a>
        </li>*@
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">Inloggen</a>
        </li>
    </ul>
    @section scripts {
        <script src="~/js/site.js"></script>
        <script>
            /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown menu if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
    }
}