@model Taijitan.Models.ViewModels.SessionViewModel

<h2>Een sessie aanmaken</h2>
<br />
<form method="post">
    <div class="form-group col-md-6">
        <label asp-for="Formula">Kies een formule waarvoor je de sessie wilt starten</label>
        <select asp-for="Formula" asp-items="@ViewData["Formulas"] as SelectList" class="form-control"></select>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" style="background-color: #336566 !important;color:white;" type="submit">Maak sessie</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-default">Cancel</a>
    </div>
</form>

