@model Taijitan.Models.ViewModels.SessionViewModel

<div>
    <h2>Een sessie aanmaken</h2>
    <br />
    <br />
    <form method="post">
        <div class="form-group col-md-6">
            <label asp-for="TrainingDayId">Kies een dag waarvoor je de sessie wilt starten</label>
            <br />
            <select asp-for="TrainingDayId" asp-items="@ViewData["Formulas"] as SelectList" class="form-control"></select>
        </div>
        <div class="col-md-12">
            <button class="btn btn-taijitan"type="submit">Maak sessie</button>

            <a asp-action="Index" asp-controller="Home" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
