@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Geen Toegang";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Enkel de administrator van het systeem heeft toegang tot deze pagina.</p>
</header>
