
@{
    ViewData["Title"] = "Activeer account";
}

<h2>Activeer account</h2>
<br />
<div>
    <form method="post">
        <p>Vul hier de administrator code in</p>
        <p>Vraag aan een verantwoordelijke om deze code in te vullen</p>
        <div class="form-group" style="width: 25%;">
            <input class="form-control" id="code" name="code" required type="password"/>
            <span class="text-danger">@TempData["CodeError"]</span>
        </div>
        <button type="submit" asp-action="CreateAccount" asp-controller="User" class="btn btn-primary">Volgende</button>
    </form>
</div>