@model  Taijitan.Models.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Activeer account";
}

<h2>Activeer account</h2>

<div>
    <form method="post">
        <p>Vul hier de administrator code in</p>
        <p>Vraag aan een verantwoordelijke om deze code in te vullen</p>
        <div class="form-group" style="width: 25%;">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <span class="text-danger">@TempData["EmailError"]</span>
        </div>
        <div class="form-group" style="display: flex;">
            <div style="width: 25%; margin-right: 1em;">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div style="width: 25%;">
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
        </div>
        <button asp-action="CreateAccountPassword" asp-controller="User" type="submit" class="btn btn-primary">Activeer account</button>
    </form>
</div>

