<h2>Beheer je account</h2>

<div>
    <h4>Verander de instellingen van je account</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item active"><a href="#" class="nav-link">Persoonlijke gegevens</a></li>
                @*<li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item"><a id="change-password" asp-area="Identity" asp-page="./ChangePassword">Wachtwoord</a></li>*@
                @{
                    if (TempData["Role"].Equals("Admin"))
                    {
                        <li class="nav-item"><a asp-controller="User" asp-action="Summary" class="nav-link">Wijzig gegevens leden</a></li>
                        <li class="nav-item"><a asp-controller="Session" asp-action="GetSessions" class="nav-link">Raadpleeg aanwezigheden</a></li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-9">
            <partial name="~/Views/User/Edit.cshtml" model="@TempData["EditViewModel"]" />
        </div>
    </div>
</div>
