/*Site main color #336566*/

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.home {
    text-align: center;
}

.row {
    padding: 20px;
}

.home span {
    color: #336566;
}






.navbar, .navbar .navbar-inverse .navbar-fixed-top {
    background-color: #336566 !important;
    border-color: white;
    color: white !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #e7e7e7 !important;
}

.nav-pills > li.active > a {
    background-color: #336566;
}

.btn-primary {
    background-color: #336566;
}

#navbar_toggle {
    padding: 0;
    margin: 0;
    border: none;
}

    #navbar_toggle:hover {
        background-color: #336566;
    }

    #navbar_toggle:active {
        background-color: #336566;
    }

    #navbar_toggle:focus {
        background-color: #336566;
    }





/*Dropdown button*/
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
    }

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
