/*Site main color #336566*/

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
button:focus, a:focus, .btn:focus, .btn-taijitan:focus, .btn-not:focus, .btn-primary:focus{
    outline:none !important;
}
html, body {
    height: 100%;
}

.taijitancontainer {
    max-width: 80% !important;
    margin: auto;
}

.btn-taijitan {
    background-color: #336566 !important;
    color: white;
}
.btn-not{
    color: white !important;
    margin: 1em 2em;
}
    .btn-not:focus, .btn-not:hover {
        color: #336566 !important;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.home {
    text-align: center;
}

.row {
    padding: 20px;
}

.home span {
    color: #336566;
}

.sliderimg {
    height: 400px !important
}

.materialimg {
    height: 145px !important;
    border: none;
    border-radius: 5%;
}




.navbar, .navbar .navbar-inverse .navbar-fixed-top {
    background-color: #336566 !important;
    border-color: white;
    color: white !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #e7e7e7 !important;
}

.nav-pills > li.active > a:hover {
    box-shadow: 0px 0px 0px 2px #336566 inset;
    box-sizing: border-box;
    background-color: white !important;
    color: #336566;
}

.nav-pills > li.active > a {
    box-sizing: border-box;
    background-color: #336566;
    margin: 0.5em 0;
}

a {
    color: #336566;
}

.btn-primary:hover, .btn-primary:focus {
    box-shadow: 0px 0px 0px 1px #336566 inset;
    box-sizing: border-box;
    background-color: white !important;
    color: #336566;
}

.btn-taijitan:hover, .btn-taijitan:focus, .btn-taijitan:active {
    box-shadow: 0px 0px 0px 1.5px #336566 inset;
    box-sizing: border-box;
    background-color: white !important;
    color: #336566;
}


.btn-primary, .btn-primary:focus {
    background-color: #336566;
}

#navbar_toggle {
    padding: 0;
    margin: 0;
    border: none;
}

    #navbar_toggle:hover {
        background-color: #336566;
    }

    #navbar_toggle:active {
        background-color: #336566;
    }

    #navbar_toggle:focus {
        background-color: #336566;
    }

.container .collapse .navbar-text {
    color: white;
}

.swal-button.swal-button--danger {
    background-color: #336566;
}

    .swal-button.swal-button--danger:hover {
        box-shadow: 0px 0px 0px 1.5px #336566 inset;
        box-sizing: border-box;
        background-color: white !important;
        color: #336566;
    }

    .swal-button.swal-button--danger:focus {
        box-shadow: 0px 0px 0px 1.5px #336566 inset;
    }

.swal-button.swal-button--cancel {
    color: #555 !important;
    background-color: #efefef !important;
    box-shadow: 0px 0px 0px 1.5px #bababa inset;
}

    .swal-button.swal-button--cancel:focus {
        box-shadow: 0px 0px 0px 1.5px #bababa inset;
    }

    .swal-button.swal-button--cancel:hover {
        box-shadow: 0px 0px 0px 1.5px #bababa inset;
    }

.swal-button {
    background-color: #336566;
}

    .swal-button:hover {
        box-shadow: 0px 0px 0px 1.5px #336566 inset;
        box-sizing: border-box;
        background-color: white !important;
        color: #336566;
    }

    .swal-button:focus {
        box-shadow: 0px 0px 0px 1.5px #336566 inset;
    }


.membercontainer {
    overflow-y: scroll;
    max-height: 450px;
}

.registredcontainer {
    overflow-y: scroll;
    max-height: 350px;
}


.list-group-item:focus {
    border: none;
    box-shadow: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* width */
.customScroll::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Handle */
.customScroll::-webkit-scrollbar-thumb {
    background: #336566;
    border-radius: 5px;
}

    /* Handle on hover */
    .customScroll::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



/*Dropdown button*/
.dropbtnmenu, .dropbtnnot {
    color: white;
    border: none;
    cursor: pointer;
}



.dropdown {
    /*float: right;*/
    position: relative;
    display: inline-block;
}

.dropdown-contentmenu, .dropdown-contentnot {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

    .dropdown-contentnot{
        min-width: 300px;
    }
    .dropdown-contentmenu *, .dropdown-contentnot * {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-contentmenu a, .dropdown-contentnot a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.ChangeAndDeleteColor {
    color: #336566;
}

    .ChangeAndDeleteColor:hover {
        color: black;
    }




fieldset {
    margin-bottom: 30px;
}



/*.materialScreen{
    width: 140%;
    margin-left: -20%;
}*/

/*.materialNavigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

.materialComment {
    margin-top: 5%;
}


.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    background-color: #336566 !important;
    color: white;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-right: 1px solid gray;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-left: 1px solid gray;
}

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle):hover, .btn-group > .btn:last-child:not(:first-child):hover, .btn-group > .dropdown-toggle:not(:first-child):hover {
        border: 1px solid #336566;
        background-color: white !important;
        color: #336566;
    }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #336566;
}

.notRead {
    animation-name: notification;
    animation-duration: 1s;
    border-radius: 2px;
}
@keyframes notification{
    0% {background-color: #F1F1F1;}
    50% {background-color: #336566; color: white;}
    100% {background-color: #F1F1F1; color: black;}
}

/*numberbadge*/
.notnumber {
    color: #fff;
    font-size: 10px;
    font-family: Arial, san-serif;
    font-weight: bold;
}

.notbadge {
    background-color: #336566;
    border-radius: 50%;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5% 5%;
    position: relative;
    right: 23px;
    top: 1.5px;
    float: right;
    display: block;
}

.notnumber {
    position: relative;
    display: block;
    font: bold 14px/13px Helvetica, Verdana, Tahoma;
    text-align: center;
    margin: 0;
    top: 0px;
}