
@{
    ViewData["Title"] = "_ConsultMaterial";
}

<div class="materialNavigation">
    <button type="submit" class="list-group-item list-group-item-action">Uitleg</button>
    <button type="submit" class="list-group-item list-group-item-action">Foto's</button>
    <button type="submit" class="list-group-item list-group-item-action">Video</button>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="materialComment">
    <form method="post">
        <div class="col-lg-12">
            <label>Commentaar</label>
        </div>
        <div class="col-lg-10">
            <textarea class="form-control"></textarea>
        </div>

        <div class="col-lg-2">
            <button type="submit" class="btn btn-taijitan">Verzend</button>
        </div>
    </form>
</div>

