@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";

    string userNameFirstLetterUpper = "";
    if (UserManager.GetUserName(User) != null)
    {
        var email = UserManager.GetUserName(User);
        var userName = email.Substring(0, email.IndexOf("."));
        userNameFirstLetterUpper = char.ToUpper(userName[0]) + userName.Substring(1);
    }
}

<div class="center-block text-center" style="margin: 20% auto">
    <div class="text-center">
        <img src="~/images/logo.png" alt="Taijitan logo" />
    </div>
    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <h1>Welkom @userNameFirstLetterUpper</h1>
            <p>Op de online tool van Taijitan</p>
            <sub>Bekijk en wijzig hier je <a asp-area="" asp-controller="User" asp-action="Edit">gegevens</a></sub>
        }
        else
        {
            <h1>Welkom</h1>
            <p>Op de online tool van Taijitan</p>
            <sub><a asp-area="Identity" asp-page="/Account/Login">Login</a> om je gegevens aan te passen</sub>

        }
    </div>
</div>

@section scripts{
    <script src="~/js/site.min.js"></script>
}
