@{
    ViewData["Title"] = "Home Page";
}

@{
    if (TempData["Role"].Equals(""))
    {
        <div class="center-block text-center" style="margin: 20% auto">
            <div class="text-center">
                <img src="~/images/logo.png" alt="Taijitan logo" />
            </div>
            <div class="text-center">
                <h1>Welkom</h1>
                <p>Op de online tool van Taijitan</p>
                <sub><a asp-area="Identity" asp-page="/Account/Login">Login</a> om je gegevens aan te passen</sub>
            </div>
        </div>
    }
    else if (TempData["Role"].Equals("Member"))
    {
        <h1>Dit is het scherm van een member</h1>
    }
    else if (TempData["Role"].Equals("Teacher"))
    {
        <h1>Dit is het scherm van een Teacher</h1>

    }
    else if (TempData["Role"].Equals("Admin"))
    {
        <h1>Dit is het scherm van een Admin</h1>

    }
}

@section scripts{
    <script src="~/js/site.min.js"></script>
}
